<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PuntoDeVenta.BaseDeDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PuntoDeVenta.BaseDeDatos.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-DEHG0J3;Initial Catalog=PuntoDeVenta;User ID=sa;Password=1234</value>
            </setting>
        </PuntoDeVenta.BaseDeDatos.Properties.Settings>
    </applicationSettings>
</configuration>